
.Navbar{
    
    display: flex;
    width: 100%;
    height:60px;
    padding: auto;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(43, 42, 42, 0.548);
    position: fixed;
    z-index: 10;
    background-color: white;
}
.Navbar .logo{
    color: black;
    margin-left: 35px;
    font-size: 30px;
    padding-right: 4rem;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap :10px;
    list-style: none;
    text-align: center;
    width: 75vw;
    justify-content: end;
    align-items: center;
    margin-right: 25px;
}
.nav-links{
    color:black;
    text-decoration: none;
    padding: 0.5rem 1rem;

}
.nav-links:hover{
    background-color: rgb(235, 252, 218);
    border-radius: 4px;
    transition: all 0.2s ease-out;
    text-decoration: none;
}
.menu-icon{
    align-items: center;
    display: none;
}
.Createbtn{
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    background: #FFE930;

}
.Createbtn:hover{
    
    transition: all 0.3s ease-out;
    background-color: rgb(184, 250, 131);
    border-radius: 4px;
    color: black;
    
}
.search .search-box{
    margin-top: 1.5rem;
    text-align: start;
    font-weight: 200;
    width: 22rem;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    padding: 5px 20px;
    background: #e9f4f8;
    border: 1px solid #72b9f7;
    opacity: .8;
}
@media screen and (max-width:960px) {
    .Navbar{
        position: relative;

    }
    .Navbar .logo{
        margin-right: 10px;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width:100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.3s ease;
    }
    .nav-menu.active{
        background-color: #eaf554;    
        top: 60px;
        left: 0;
        opacity: 1;
        transition: all 0.3s ease ;
        z-index: 1;
        height: auto;
        
    }
    .nav-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;

    }
    .logo{
        position: absolute;
        top:0;
        left: -58px;
        transform:  translate(25%, 50%);
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: -15px;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-bars{
        
        color: goldenrod;
        font-size: 2rem;
    }
    .fa-times{
        color: goldenrod;
        font-size: 2rem;
    }
    .nav-links-mobile{
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 1rem auto;
        border-radius: 4px;
        width: 80%;
        background-color: #1888ff;
        color: #fff;
        text-decoration: none;
        font-size: 1.5rem;
    }
    .nav-links-mobile:hover{
        background-color: #fff;
        color: #1888ff;
        transition: 250ms;
    }
    .Createbtn{
        display: block;
    }
}