.full-box{
    padding-top: 4%;
   }
   .leftnavsetti{
       width: 15vw;
       height: 100%;
       margin: auto;
       align-content: center;
       background: #FDFDFD;
       position: fixed;
       box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
       text-decoration: none;
   }
   
       @media only screen and (max-width:1000px){
           .matter{
               display: none;
           }
           .icon-s{
               position: absolute;
               left:25%;
               
           }
             
   } 
   
   .matter-inside{
       width: 15vw;
       height: 7%;
       left: 10px;
       top: 155px;
       background: #FDFDFD;
       margin-bottom: 12px;
       text-align: start;
       text-decoration: none;
   
   }
   
   
   .matter-inside:hover{
       background: rgba(252, 237, 112, 1);
       box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
       width: 15vw;
       text-decoration: none;
   
   
   }
   
   .content{
     margin-top: 0%;
     margin-left:30%;
     padding-top: 10%;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-decoration: none;
   }
   .void{
       background: #FDFDFD;
       height: 5.5%;
   }
   .icon-s{
       margin-left: 10%;
       text-decoration: none;
       font-size: 25px;
       text-decoration: none;
   }
   
   .matter{
       color: black;
       text-decoration: none;
       font-size: 20px;
       vertical-align: middle;
       padding:5px;
       
   }
    .i{
       font-size: 30px;
       vertical-align: middle;
       color: black;
       padding: 5px;
       text-decoration: none;
    }