.body{
    width: 20vw;
    height: 940px;
    left: 0px;
    top: 80px;
    
    background: #FDFDFD;
    box-shadow: 4px 0px 50px rgba(0, 0, 0, 0.25);
    
}   


.content-box{


    width: 20vw;
    height: 67px;
    left: 0px;
    top: 155px;
    background: #FDFDFD;
    margin-bottom: 12px;

    
}


.content-box:hover{
    background: rgba(252, 237, 112, 1);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
  }
  .content{
      margin-top: 0%;
      margin-left: 35%;
      padding-top: 10%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-decoration: none;
      
}
.null{
    background: #FDFDFD;
    height: 80px;
}
