.Create{
    width: 88vw;
    height: 100vh;
    margin-left: 13vw;  
         
}
.Top-RL{
    width: 88vw;
    height: 5vh;
    margin-left: 0;
    margin-top: 0;
    
}
.Head-RL{
    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    
    padding-left: 2%;
    padding-top: 1%;
}
.Left-RL{
    width: 15vw;
    height: 95vh;
   
    float: left;
}
.Mid-RL{
    width:50vw;
    height: 95vh;
   
    float: left;    
}
.Right-RL{
    width: 23vw;
    height: 95vh;
    
    float: left;
}
.submit-RL{
    height: 29px;
    width: 115px;
    background: #FFF8AC;
    border-radius: 4px;
    font-family: Segoe UI;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: black;
    text-align: center;
    margin-top: 5vh;
    margin-left: 3vw;
    border: none;
}
.Item1-RL{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    width: 211px;
    height: 285px;
    background: #e9f4f8;;
    border-radius: 4px;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 5px;
    float: left;
    opacity: 0.6;
}
.Item2-RL{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    width: 211px;
    height: 285px;
    background: #fafafa;
    border-radius: 4px; 
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 5px;
    float: left;
}
.Item3-RL{
    display:flex;
    flex-direction: row;
   
    padding: 16px;
    width: 211px;
    height: 285px;
    background: #fafafa;
    border-radius: 4px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
.Item4-RL{
        display:flex;
        flex-direction: row;
       
        padding: 16px;
        width: 211px;
        height: 285px;
        background: #fafafa;
    
        border-radius: 4px;
        
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 10px;
        float: left;
}
.cards-RL{
    width:100%; 
    border-radius:10px 10px 0px 0px;
    border: 1px solid;
}
.para-1{

    font-family: Segoe UI;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10p;
    padding: 1px;
}
.para-2{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    
}
.firstcard-RL{

    height: 20vh;
    width: 23vw;
    border-radius: 4px;
}
.caption-RL{
    position: static;
    margin-left: 5px;
    margin-top: 5px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.3px;
    color: #FFFFFF;

}
.button-RL{
    width: 100px;
    height: 30px;
    background: #C4C4C4;
    border-radius: 4px;
    font-family:Segoe UI; 
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    margin-left: 50px;
    color: #000000;
}
.but-RL{
    margin-left: 50px;
}
.list-RL{
    width: 22vw;
    height: 70px;
    margin: 0.5vw;
    padding: 5px;
    background: #fafafa;
    border-radius: 8px;
}
.one-RL{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin-top: 4px;
    margin-right: 1px;
    align-items: center;
    

}
.icon-RL{
    height: 60px;
    width: 85px;
    margin-left: 5px;
    border-radius: 4px;

}
.ti-RL{
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    
    margin-left: 5px;
    margin-top: -5px; 
    margin-left: 9px;
}
.aut-RL{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 3px;
    margin-left: 5px;
    color: #808191;
}
