.full-box{
 padding-top: 4%;
}
.leftnavsetti{
    width: 15vw;
    height: 100%;
    margin: auto;
    align-content: center;
    background: #FDFDFD;
    position: fixed;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

    @media only screen and (max-width:1000px){
        .matter{
            display: none;
        }
        .icon-s{
            position: absolute;
            left:25%;
            
        }
          
} 

.matter-inside{
    width: 15vw;
    height: 7%;
    left: 10px;
    top: 155px;
    background: #FDFDFD;
    margin-bottom: 12px;
    text-align: start;
    text-decoration: none;

}


.matter-inside:hover{
    background: rgba(252, 237, 112, 1);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
    width: 15vw;
    text-decoration: none;


}

.content{
  margin-top: 0%;
  margin-left:30%;
  padding-top: 10%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}
.void{
    background: #FDFDFD;
    height: 50px;
}
.icon-s{
    margin-left: 10%;
    text-decoration: none;
    font-size: 25px;
    text-decoration: none;
}

.matter{
    color: black;
    text-decoration: none;
    font-size: 20px;
    vertical-align: middle;
    padding:5px;
    
}
 .i{
    font-size: 30px;
    vertical-align: middle;
    color: black;
    padding: 5px;
    text-decoration: none;
 }


.accout-settings{
width: 85vw;
height: 100%;
margin-left: 15vw;


}

.acc-title{
font-family: Segoe UI;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
margin-left: 9.5%;
margin-top: 3%;
}
.ap-tag{
font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 24px;
display: flex;
align-items: flex-end;
color: #585656;
margin-left: 10%;

}
.pro-title{
font-family: Segoe UI;
font-style: normal;
font-weight: bold;  
margin-left: 9.5%;
font-weight: 600;
font-size: 20px;
line-height: 27px;
margin-top: 2%;
}
.name-section{
 margin-top: 3%;
 

}
.f-name{
    
text-align: start;
height: 40px;
width: 300px;
margin-bottom: 0px;
border-radius: 10px;
font-weight: normal;
font-size: 15px;
border-color:#F8F5F5;
box-shadow: 0px 1px 3px 3px #00000040;
margin-left: 40%;
}
.l-name{
height: 40px;
width: 300px;
margin-bottom: 0px;
border-radius: 10px;
font-weight: normal;
font-size: 15px;
border-color: #eeebeb;
margin-left: 50%;
box-shadow: 0px 1px 3px 3px #3b3b3b40;

}
.f-title{
font-family: Segoe UI;
font-style: normal;
font-weight: bold;  
font-weight: 600;
font-size: 20px;
line-height: 27px;
margin-left: 40%;
}
.user-section{
margin-top: 3%;

}
.u-name{
height: 40px;
width: 400px;
margin-bottom: 0px;
border-radius: 10px;
font-weight: normal;
font-size: 15px;
border-color: #eeebeb;
margin-left: 30%;
box-shadow: 0px 1px 3px 3px #3b3b3b40;
}
.u-title{
font-family: Segoe UI;
font-style: normal;
font-weight: bold;  
font-weight: 600;
font-size: 20px;
line-height: 27px;
margin-left: 30%;

}
.about-section{
margin-top: 3%;

}
.a-title{
font-family: Segoe UI;
font-style: normal;
font-weight: bold;  
font-weight: 600;
font-size: 20px;
line-height: 27px;
margin-left: 19%;

}
.about{
height: 80px;
width: 630px;
margin-bottom: 0px;
border-radius: 10px;
font-weight: normal;
font-size: 15px;
border-color: #eeebeb;
margin-left: 19%;
box-shadow: 0px 1px 3px 3px #3b3b3b40;
}
.pi-space{
margin-top: 5%;
}
.pi-title{
font-family: Segoe UI;
font-style: normal;
font-weight: bold;  
font-weight: 600;
font-size: 25px;
line-height: 27px;
margin-left: 26.5%;
}
.email-section{
    margin-top: 3%;
    
}

.n-title{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;  
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-left: 50%;
}

.gc-section{
    margin-top: 3%;
}
.sav-button{
    margin-top: 10%;  
}
.d-tag{
font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 24px;
display: flex;
align-items: flex-end;
color: #585656;
margin-left: 8%;
}
.can{
    width: 130px;
    box-sizing: border-box;
    border-radius: 6px;
    margin-left: 520%;
    background: #e7e9f1;
    font-weight: bold;
}
.can:hover{
    background-color:#5272DB;
    color:azure
}
.sav{
    width: 130px;
    border-radius: 6px;
    margin-left: 530%; 
    background: #e7e9f1;
    font-weight: bold;
}
.sav:hover{
    background-color: #5272DB;
    color:azure
}
.footer-setti{
    margin-top: 10%;
    font-weight: normal;
    font-size: 15px;
    margin-left: 35%;
}